.fui-checkbox
	display: inline-block
	position: relative
	margin: $widgetMargin
	height: $checkBoxSize

	padding-left: $checkBoxSize + $checkBoxLabelMargin

	color: $widgetFontColor

	vertical-align: top

	font-family: $baseFont

	input[type="checkbox"],
	input[type="radio"],
	i
		position: absolute
		background: $widgetBackground

		margin-left: -1*$checkBoxSize - $checkBoxLabelMargin

	i
		box-sizing: border-box
		display: inline-block
		overflow: hidden; // We'll hide by moving out of the box
		width: $checkBoxSize
		height: $checkBoxSize
		padding-left: $checkBoxSize // Move contents out of box

		border-radius: 2px

		color: $widgetFontColor
		text-align: center
		font-size: 14px
		font-style: normal
		line-height: 20px

		cursor: pointer

		&:before
			@extend .fuicon-check:before

	input[type="checkbox"],
	input[type="radio"]
		opacity: 0.0001

		&:checked + i
			padding-left: 0 // Show the contents again

	&.fui-primary
		&, &:active
			background: transparent

		i
			background: $widgetBackgroundPrimary

	input:focus + i
		width: $checkBoxSize + 2
		height: $checkBoxSize + 2

		margin: -1px
		margin-left: -1*$checkBoxSize - $checkBoxLabelMargin - 1

		glow()

