.fui-textField
	padding: 10px 10px;

	text-align: left;

	cursor: text;

	box-shadow: inset 1px 1px 1px rgb(27, 27, 27)

	bevel()

	&.fui-primary:active
		background: $widgetBackgroundPrimary

.fui-textField::-webkit-input-placeholder
	opacity: $textFieldPlacerholderColor;

.fui-textField:-moz-placeholder
	opacity: $textFieldPlacerholderColor;

.fui-textField::-moz-placeholder
	opacity: $textFieldPlacerholderColor;
