.fui-error,
.fui-warning,
.fui-info,
.fui-success,
.fui-alert
	margin: $widgetMargin * 2
	padding: $widgetMargin * 1.5

	font-family: $baseFont

	border-radius: $widgetBorderRadius

.fui-info,
.fui-alert
	background: $alertInfoBackground

.fui-success
	background: $alertSuccessBackground

.fui-error
	background: $alertErrorBackground

.fui-warning
	background: $alertWarningBackground

