.fui-badge
	display: inline-block
	box-sizing: border-box
	background: $badgeBackground

	border-radius: $widgetBorderRadius * 2

	padding: 2px 8px
	min-width: 26px

	color: $baseFontColor
	white-space: nowrap // Numbers shouldn't wrap
	font-weight: bold
	font-size: $baseSize - 4
	text-align: center
