.fui-progress
	box-sizing: border-box

	height: $progressHeight
	min-width: 100px

	margin: $widgetMargin

	border-radius: $widgetBorderRadius
	border: 1px solid $progressBorderColor

	background: $progressBackground

	overflow: hidden // Hide non-rounded corners

	.fui-progressBar
		background: $progressBarColor
		height: $progressHeight - 2
