$tooltipArrowSize = 8px
$tooltipTargetOffset = -18px

.fui-tooltip
	@extend .fui-info

	display: inline-block
	box-sizing: border-box
	position: relative

	&:after
		content: ''
		display: block
		position: absolute

		border-width: $tooltipArrowSize
		border-style: solid

.fui-tooltip-top
	@extend .fui-tooltip

	&:after
		top: -2*$tooltipArrowSize
		left: 50%
		margin-left: -1*$tooltipArrowSize

		border-top-color: transparent
		border-left-color: transparent
		border-right-color: transparent

.fui-tooltip-bottom
	@extend .fui-tooltip

	&:after
		bottom -2*$tooltipArrowSize
		left: 50%
		margin-left: -1*$tooltipArrowSize

		border-bottom-color: transparent
		border-left-color: transparent
		border-right-color: transparent

.fui-tooltip-right
	@extend .fui-tooltip

	&:after
		top: 50%
		right: -2*$tooltipArrowSize
		margin-top: -1*$tooltipArrowSize

		border-top-color: transparent
		border-bottom-color: transparent
		border-right-color: transparent

.fui-tooltip-left
	@extend .fui-tooltip

	&:after
		top: 50%
		left: -2*$tooltipArrowSize
		margin-top: -1*$tooltipArrowSize

		border-top-color: transparent
		border-bottom-color: transparent
		border-left-color: transparent

.fui-tooltip-top,
.fui-tooltip-bottom
	&.fui-tooltip-start:after
		left: $widgetBorderRadius*2
		right: auto
		margin-left: 0

	&.fui-tooltip-end:after
		left: auto
		right: $widgetBorderRadius*2
		margin-left: 0

.fui-tooltip-left,
.fui-tooltip-right
	&.fui-tooltip-start:after
		top: $widgetBorderRadius*2
		bottom: auto
		margin-top: 0

	&.fui-tooltip-end:after
		top: auto
		bottom: $widgetBorderRadius*2
		margin-top: 0

.fui-tooltip-target
	display: inline-block
	position: relative

	vertical-align: middle

	.fui-tooltip,
	.fui-tooltip-top,
	.fui-tooltip-bottom,
	.fui-tooltip-left,
	.fui-tooltip-right
		position: absolute
		margin: 0
		white-space: nowrap // Because target has width of 0, the message wraps every word

	// Move to misc
	.fui-tooltip-noAnimate
		transition: none !important

	.fui-tooltip-top,
	.fui-tooltip-bottom
		&.fui-tooltip-start
			left: $tooltipTargetOffset
			right: auto

		&.fui-tooltip-end
			left: auto
			right: $tooltipTargetOffset

	.fui-tooltip-top
		top: 100%
		bottom: auto

	.fui-tooltip-bottom
		top: auto
		bottom: 100%

	.fui-tooltip-left
		left: 100%
		right: auto

		&.fui-tooltip-start
			top: $tooltipTargetOffset
			bottom: auto

		&.fui-tooltip-end
			top: auto
			bottom: $tooltipTargetOffset

	.fui-tooltip-right
		left: auto
		right: 100%

		&.fui-tooltip-start
			top: $tooltipTargetOffset
			bottom: auto

		&.fui-tooltip-end
			top: auto
			bottom: $tooltipTargetOffset
