// nib for CSS3 mixins
@import 'nib'

// fui supports all browsers
vendor-prefixes = webkit moz ms official
support-for-ie = true

// Variables and mixins
@import 'Variables'
@import 'Mixins'

// Main elements
@import 'Controls'
@import 'Well'
