$baseSize = 16px
$baseFont = Helvetica

$widgetHeight = 40px
$widgetMargin = 10px
$widgetBorderRadius = 5px

$widgetFontColor = rgb(120, 120, 120)

$widgetBackground = rgb(50, 50, 50)
$widgetBackgroundDown = darken($widgetBackground, 10%)

$widgetBackgroundPrimary = rgb(25, 60, 120)
$widgetBackgroundPrimaryDown = darken($widgetBackgroundPrimary, 10%)

// TextField
$textFieldPlacerholderColor = 0.35
$textFieldFontSize = 18px

// Well
$wellBackground = darken($widgetBackground, 30%)
