$baseSize = 16px
$baseFont = Helvetica, sans-serif

$widgetHeight = 40px
$widgetMargin = 10px
$widgetBorderRadius = 5px

$baseFontColor = rgb(150, 150, 150)
$widgetFontColor = rgb(120, 120, 120)

$widgetBackground = rgb(50, 50, 50)
$widgetBackgroundDown = darken($widgetBackground, 10%)

$widgetBackgroundPrimary = rgb(25, 60, 120)
$widgetBackgroundPrimaryDown = darken($widgetBackgroundPrimary, 10%)

$glowColor = rgb(65, 120, 180)

// Controls
$textFieldPlacerholderColor = 0.35
$textFieldFontSize = 18px
$textFieldErrorBorder = rgb(80, 0, 0)

$checkBoxSize = 18px
$checkBoxLabelMargin = 6

// Well
$wellBackground = darken($widgetBackground, 30%)

// Indicators
$progressBackground = rgb(20, 20, 20)
$progressBorderColor = rgb(70, 70, 70)
$progressBarColor = rgb(25, 50, 125)
$progressHeight = $widgetHeight/2

$badgeBackground = lighten($widgetBackground, 10%)

$alertInfoBackground = rgb(2, 50, 100)
$alertSuccessBackground = rgb(2, 100, 50)
$alertErrorBackground = rgb(100, 2, 2)
$alertWarningBackground = rgb(100, 60, 2)
